{% extends "base/base.html" %}
{% block title %}Conversation{% endblock %}

{% block content %}
    <h1>Conversation</h1>
    <div class="container my-4">
        {% for message in conservation.messages.all %}
                <div class="p-3 mb-3 d-flex {% if message.created_by == request.user %}bg-primary text-white{% else %}bg-gray{% endif %}">                   <div>
                        <p class="mb-4">{{message.created_by.username}}   @ {{ message.created_at }}</p>
                        <p>{{ message.content }}</p>
                    
                </div> 
        {% endfor %}
    </div>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block py-2">Send</button>

    </form>

{% endblock%}